*{
    overflow-x: hidden;
}

/* Navigation Bar Settings */
.nav-item{
    padding-left: 20px;
    padding-right: 20px;
}
.nav-link:hover{
    color:#5E17EB !important;
}



.viewProfileBtn{
    border-radius: 100% !important; 
    height: 60px !important; 
    width: 60px !important; 
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    align-items: center;

}
.logoutBtn{
    border-radius: 20px !important;
    background-color: #5E17EB !important;
    color:white;
}
.profileContainer{
    background-color: #5E17EB !important; 
    width: 1250px !important; 
    border-radius: 30px !important;
}
.profilePicContainer{
    border-radius: 100% !important; 
    height: 100px !important; 
    width: 100px !important; 
    display: flex; 
    justify-content: center; 
    align-items: center;


}

.nameContainer{
    color: white;
}
.name{
    font-weight: 700;
    font-size: 24px;
}
.username{
    font-weight: 400;
    font-size: 18px;
}

.firstName, .lastName, .birthDay, .addRess{
    color:white;
    font-weight: 600;
    font-size: 20px;
}

.deleteButton{
    color:white;
    background-color: #A71414 !important;
    border-radius: 30px;
    height: 90px;
    width: 260px;
}

.deleteButton:hover{
    color:#5E17EB !important;
    
}

.logoContainer{
    text-align: center;
}

.formContainer{
    text-align: center;
 }
 
.textInput{
    border-radius: 20px;
    border-style: none;
    width: 340px;
    height: 60px;
    padding-left: 10px;
    
}
.textInput::placeholder{
    padding-left: 10px;
}
.loginButton{
    background-color: #5E17EB !important; 
    color: white !important; 
    height: 90px; 
    width: 280px; 
    border-radius: 20px !important;
}
.signUpContainer{
    padding-top: 10px;
}
.signUp{
    text-decoration: none;
    color: #d9d9d9;
}
.signUp:hover{
    color: #5E17EB;
}
.loginButtonLink{
    text-decoration: none;

}

.signUpInput{
    border-radius: 20px;
    border-style: none;
    
}
.signUpText{
    font-size: 30px;
    font-weight: 700;
}


@media (max-width: 768px) {
    .pfp{
        width: 80px;
        height: 80px;
    }

    .textInput{
        width: 250px;
        height: 50px;
    }

    .loginButton{
        height: 70px; 
        width: 180px; 

    }

}
