*{
   overflow: hidden; 
}
.pfpcontainer{
    text-align: right;
}
.logocontainer{
    padding: 100px;
    text-align: center;
}

.logo{
    width: 800px;
    height: 1000px;
}

.buttoncontainer{
    text-align: center;
}

.friendsButton{
    width: 280px;
    height: 90px;
}

.logohomecontainer{
    text-align: left;
}
.pfpListContainer{
    text-align: center;
}
.friendListContainer{
    background-color: white; 
    height: 95px;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .pfp{
        width: 80px;
        height: 80px;
    }

}